# IPv4 address in CIDR format
ipv4_addr = "{{ .IPv4Addr }}"

# IPv6 address in CIDR format
ipv6_addr = "{{ .IPv6Addr }}"

# Server port
port = "{{ .Port }}"

# Transport protocol: either "udp" or "tcp"
protocol = "{{ .Protocol }}"
