dev tun
port {{ .Port }}
proto {{ .Protocol }}
ca "{{ filepathJoin .PKIDir "ca.crt" }}"
cert "{{ filepathJoin .PKIDir "server.crt" }}"
crl-verify "{{ filepathJoin .PKIDir "ca.rl" }}"
key "{{ filepathJoin .PKIDir "server.key" }}"
tls-crypt "{{ filepathJoin .PKIDir "tls.key" }}"
auth-nocache
auth SHA256
cipher AES-256-GCM
dh none
data-ciphers AES-256-GCM:AES-128-GCM
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384
tls-server
tls-version-min 1.2
{{- if .ExtIPv4Addr }}
server {{ .ExtIPv4Addr }}
{{- end }}
{{- if .ExtIPv6Addr }}
server-ipv6 {{ .ExtIPv6Addr }}
{{- end }}
topology subnet
explicit-exit-notify 1
keepalive 10 60
persist-key
persist-tun
management 127.0.0.1 2323
status "{{ .StatusFile }}" 1
script-security 2
{{- if .Down }}
down "/bin/sh -c '{{ .Down }}'"
{{- end }}
{{- if .Up }}
up "/bin/sh -c '{{ .Up }}'"
{{- end }}
