server: "{{ .ServerAddr }}"
auth: "{{ .Auth }}"

tls:
  insecure: true
  pinSHA256: "{{ .TLSPin }}"

tun:
  name: "{{ .TUNIface }}"
{{- if .ObfsPassword }}

obfs:
  type: salamander
  salamander:
    password: "{{ .ObfsPassword }}"
{{- end }}
