[Interface]
Address = {{ join .Addrs "," }}
DNS = {{ join .DNSAddrs "," }}
ListenPort = {{ .Port }}
MTU = {{ .MTU }}
PrivateKey = {{ .PrivateKey }}

PostUp = {{ .PostUp }}
PreDown = {{ .PreDown }}

{{- range .Peers }}

[Peer]
AllowedIPs = {{ join .AllowAddrs "," }}
Endpoint = {{ .Endpoint }}
PersistentKeepalive = {{ .PersistentKeepalive }}
PublicKey = {{ .PublicKey }}

{{- end }}
