[Interface]
Address = {{ join .Addrs "," }}
DNS = {{ join .DNSAddrs "," }}
ListenPort = {{ .Port }}
MTU = {{ .MTU }}
PrivateKey = {{ .PrivateKey }}

{{ range .Peers }}

[Peer]
AllowedIPs = {{ join .AllowedAddrs "," }}
Endpoint = {{ .Endpoint }}
PersistentKeepalive = {{ .PersistentKeepalive }}
PublicKey = {{ .PublicKey }}

{{ end }}
