[Interface]
Address = {{ join .Addrs "," }}
DNS = {{ join .DNSAddrs "," }}
ListenPort = {{ .Port }}
MTU = {{ .MTU }}
PrivateKey = {{ .PrivateKey }}

PostUp = {{ .PostUp }}
PreDown = {{ .PreDown }}

[Peer]
AllowedIPs = {{ join .Peer.AllowAddrs "," }}
Endpoint = {{ .Peer.Endpoint }}
PersistentKeepalive = {{ .Peer.PersistentKeepalive }}
PublicKey = {{ .Peer.PublicKey }}
