[Interface]
Address = {{ .Address }}
ListenPort = {{ .InPort }}
PrivateKey = {{ .PrivateKey }}

{{- range $rule := .PostDown }}
PostDown = {{ $rule }}
{{- end }}

{{- range $rule := .PostUp }}
PostUp = {{ $rule }}
{{- end }}
